@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    scroll-behavior: smooth !important;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .layout {
    /* 1100px */
    max-width: 104rem;
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
  /* custom scrollbar  */
  ::-webkit-scrollbar {
    @apply h-1 w-1 sm:h-2 sm:w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-sm bg-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-hover;
  }
}
