@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    scroll-behavior: smooth !important;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .layout {
    /* 1100px */
    max-width: 104rem;
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
  /* custom scrollbar  */
  ::-webkit-scrollbar {
    @apply h-1 w-1 sm:h-2 sm:w-2;
  }

  /* ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  } */

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-primary;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/90;
  }
  /* hide scrollbar */
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}
.rdrNextButton i {
  margin: 0 !important;
}
.rdrNextPrevButton {
  padding: 6px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: unset !important;
  height: unset !important;
  margin: 6px !important;
}
